.cart {
    margin-top: 16px;
    padding: 0 8px;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.cart-item-functions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
}

.cart-number-input {
    height: 16px;
    text-align: center;
    width: 32px;
    margin: 0 0 0 5px;
}
.cart-number-input::-webkit-outer-spin-button,
.cart-number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.cart-function-buttons {
    margin: 0 0 0 5px;
    font-size: 15px;
}
