.add-product-modal {
  background-color: #222222;
  border: 0;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  min-width: 48px;
  padding: 12px 18px;
}

.new-product-container {
  padding: 0 0 0px 0;
  height: 100%;
  overflow-y: scroll;
}

.new-product-container h2 {
  margin-top: 0;
}

.new-product-container::-webkit-scrollbar {
  display: none;
}

.error-list {
  color: #a61a2e;
  font-weight: 400;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  transition: opacity 200ms ease-in;
}

.edit_product_input-bar, .edit_product_category_input_bar {
    border: 1px solid rgba(34, 34, 34, 0.15);
    border-radius: 6px;
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    color: #222222;
    display: block;
    font-family: inherit;
    font-size: 18px;
    margin-bottom: 15px;
    outline: none;
    width: 100%;
}

.edit_product_description_input-bar {
    box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
    border-color: rgba(34, 34, 34, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 6px;
    color: #222222;
    display: block;
    outline: none;
    font-family: inherit;
    width: 320px;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 200;
}

.add-product {
    margin-left: 18px;
}

.add-product-button {
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: center;
    color: white;
    position: relative;
    text-align: center;
    margin: 20px 20px 10px 0px;
}

.add-product-button:disabled {
  background-color: grey;
}

.cancel-add-button {
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    border-radius: 24px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: center;
    color: white;
    position: relative;
    text-align: center;
    margin: 20px 20px 10px 0px;
}
