.nav-container button {
    cursor: pointer;
}

.nav-top {
    align-items: center;
    display: grid;
    grid-template-columns: auto 5fr auto;
    list-style-type: none;
    margin: 0;
    padding: 16px 40px;
}

.nav-top a {
    text-decoration: none;
}

.nav-logo {
    color: #f1651f;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
}

.nav-search {
    padding: 0 20px 0 20px;
}

.search-form {
    display: grid;
    grid-template-columns: 4fr auto;
    height: 46px;
}

.search-form input {
    background-color: rgba(34, 34, 34, 0.05);
    border: 2px solid #222222;
    border-bottom-left-radius: 96px;
    border-top-left-radius: 96px;
    border-right: 0;
    font-size: 16px;
    height: 24px;
    outline: none;
    padding: 9px 42px 9px 18px;
}

.search-form button {
    background-color: rgba(34, 34, 34, 0.05);
    border: 2px solid #222222;
    border-bottom-right-radius: 96px;
    border-top-right-radius: 96px;
    border-left: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 9px 21px 9px 15px;
}

.search-form button:hover {
    background-color: #EFEFEF;
}

.fa-search {
    height: 24px;
    width: 24px;
}

.nav-session-links {
    align-items: center;
    display: flex;
}

.nav-login,
.nav-signup {
    background-color: white;
    border: 0;
    border-radius: 24px;
    color: black;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    min-height: 36px;
    min-width: 36px;
    padding: 9px 15px;
}

.nav-login:hover,
.nav-signup:hover,
.shopping-cart-btn:hover,
.user-icon-button:hover {
    background-color: #EFEFEF;
}

.nav-signup {
    margin-left: 10px;
}

.user-cart-container {
    display: flex;
    flex-direction: row;
    width: 124px;
}

.user-icon-button,
.shopping-cart-btn {
    color: black;
    background-color: white;
    border: 0;
    border-radius: 24px;
    font-size: 20px;
    line-height: 1.4;
    height: 36px;
    width: 53px;
    padding: 4px 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

span.badge {
    background-color: #f1651f;
    position: relative;
    top: 1px;
    right: 24px;
    font-weight: bold;
    font-size: 10px;
    padding: 2px;
    width: 14px;
    height: 10px;
    border-radius: 20px;
    text-align: center;
    z-index: 2;
}

.profile-dropdown {
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 0 10px grey;
    height: 72px;
    padding: 10px;
    position: absolute;
    right: 25px;
    top: 65px;
    width: 100px;
}

.profile-dropdown ul {
    list-style: none;
    padding: 0;
}

.nav-logout,
.order-history {
    background-color: white;
    border: 0;
    color: black;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    min-height: 36px;
    min-width: 36px;
}

.order-history {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-logout {
    padding: 0;
}

.order-history-li {
    height: 36px;
}

.logout-li {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-bottom {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    font-size: 13px;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

.nav-bottom li {
    margin-right: 12px;
    margin-top: 4px;
    padding-bottom: 12px;
}

.nav-bottom a {
    color: black;
    text-decoration: none;
}

.nav-bottom a:hover {
    border-bottom: 1px solid black;
}

.sidebar {
    background-color: whitesmoke;
    box-shadow: 0px 0 8px 1px lightgrey;
    position: fixed;
    bottom: 0;
    width: 30vw;
    right: -30vw;
    padding-bottom: 15px;
    transition: all 0.2s linear;
    background-color: whitesmoke;
    box-shadow: 0px 0 8px 1px lightgrey;
    overflow-y: scroll;
    z-index: 2;
    top: 0;
}

.sidebar-header {
    align-items: center;
    box-shadow: 3px -1px 3px 3px lightgrey;
    display: flex;
    height: 109.5px;
    justify-content: space-between;
    padding: 0 15px;
}

.arrow-button {
    color: black;
    background-color: whitesmoke;
    border: 0;
    border-radius: 24px;
    font-size: 20px;
    line-height: 1.4;
    min-height: 36px;
    min-width: 53px;
    padding: 4px 15px;
}

.arrow-button:hover {
    background-color: lightgrey;
}

.sidebar::-webkit-scrollbar {
    width: 20px;
}

.sidebar::-webkit-scrollbar-track {
    background: lightgray;
    border-radius: 3px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 140, 0, 0.5);
    border-radius: 3px;
}

.search-bar-results-div {
    position: absolute;
    z-index: 2;
    width: 46.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 darkgray;
    margin: 5px 0px 0px 10px;
    padding: 10px;
    color: black;
}

.search-bar-results-div li {
    margin: 3px;
    padding: 5px 5px;
}

.search-bar-results-div li a {
    color: black;

}

.search-bar-results-div li:hover {
    background-color: lightgray;
    border-radius: 3px;
}
