/*** LogiinForm ***/

.login-form-container {
  max-width: 500px;
  height: 420px;
  background: transparent;
  border-radius: 30px;
}

.demo-user-btn {
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 24px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #222222;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-left: 100px;
}

.errors-list {
  color: #a61a2e;
  font-weight: 400;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  transition: opacity 200ms ease-in;
}

.sign_in-container {
  margin-bottom: 12px;
}

.sign_in-logo {
  font-size: 20px;
  font-weight: bold;
}


.demo-user-btn:hover {
  font-size: 13px;
  line-height: 1.4;
  min-height: 36px;
  min-width: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 24px;
  color: black;
  text-decoration: none;
  border-width: 2px;
  border-style: solid;
  border-color: #222222;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  margin-left: 100px;
}

.sign_in-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-text-container {
  display: flex;
  justify-content: flex-start;
  width: 320px;
  margin-bottom: 5px;
}

.sign_in-btn {
  cursor: pointer;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-height: 48px;
  min-width: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  background-color: #222222;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #222222;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.email_input-bar {
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  outline: none;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: inherit;
  width: 320px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

.password_input-bar {
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  outline: none;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: inherit;
  width: 320px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

/*** Signup Form ***/

.signup-form-container {
  max-width: 520px;
  height: 550px;
  background: transparent;
  border-radius: 30px;
}

#signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-text {
  font-size: 20px;
  font-weight: bold;
}

.sign_up-btn {
  cursor: pointer;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  min-height: 48px;
  min-width: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  background-color: #222222;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: #222222;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.signup-text-container {
  display: flex;
  justify-content: flex-start;
  width: 320px;
  margin-bottom: 5px;
}

.username_input-bar {
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  outline: none;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: inherit;
  width: 320px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

.email_input-bar {
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  outline: none;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: inherit;
  width: 320px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

.repeat_password_input-bar {
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  display: block;
  outline: none;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
  padding-left: 2px;
  padding-right: 2px;
  font-family: inherit;
  width: 320px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
}

.petsy-policy {
  font-size: 13px;
  line-height: 18px;
  color: #595959;
  max-width: 300px;
}
