.product-details-container {
  display: flex;
  flex-direction: column;
  margin: 0px 10%;
}

.product {
  display: flex;
  margin-top: 20px;
}

.product-image {
  border-radius: 3px;
  margin: 20px 0px 40px 20%;
}

.product-image img {
  object-fit: contain;
}

.product-name {
  margin: 20px 0 0 0;
  font-size: 30px;
  font-weight: lighter;
}

.product-category {
  margin: 10px 0 0 0;
  padding: 10px 0px 0px 0px;
  font-weight: lighter;
  font-style: italic;
}

.product-price {
  font-weight: bold;
  margin: 10px 0px;
  padding: 20px 0px 20px 0px;
  font-size: 2em;
}

.product-description {
  margin: 50px 20px 20px 0px;
}

.product-info-container {
  margin: 20px 75px 15px 75px;
  font-size: .95rem;
}
.add-to-cart-btn {
  background-color:  rgb(0, 0, 0);
  color:white;
  border: none;
  border-radius: 24px;
  position: relative;
  align-self: center;
  text-align: center;
  width: 100%;
  padding: 15px 50px;
  margin: 20px 0px 10px 0px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  color: white;
  background-color: rgba(13, 14, 19, 0.7);
}

.product-btn-container > button {
  width: 10;
  font-size: .80em;
}

.edit-product-modal {
  margin: 0px 10px 0px 0px;
}

.delete-product-button {
  background-color:  rgb(0, 0, 0);
  /* box-sizing: border-box; */
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color:white;
  text-align: center;
  padding: 15px 38px;
  margin: 7px 10px 0px 0px;
}

.delete-btn:hover {
  background-color: black;
  color: rgba(248, 248, 248, 0.85);
}

.size-selector {
  box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
  display: block;
  font-size: 16px;
  height: 48px;
  padding-left: 12px;
  padding-right: 36px;
  width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  color: #222222;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;
}

.size-text {
  margin: 20px 20px 0px 0%;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
/*
.bottom-right-container {
  margin: 0px 50px 50px 50px;
  width:25%;
  font-size: .95rem;
} */

.shipping-return {
  margin: 50px 20px 20px 0px;
}

.faqs {
  margin: 50px 20px 20px 0px;
}
.seller-name {
  margin: 50px 20px 20px 0px;
}
